<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.kids.domain.exprt.mapper.ExprtApprovalMapper">

    <select id="selectExprtApprovalList" parameterType="ExprtApprovalPVO" resultType="ExprtApprovalRVO" >
        /* 대국민포털_전문가업무신청관리 소속 전문가 회원 목록 조회 (ExprtApprovalMapper.selectExprtApprovalList) */
        SELECT ei.encpt_exprt_flnm AS name
             , ei.encpt_exprt_inst_eml_nm AS instEmlNm
             , (SELECT com_dtl_cd_nm
                  FROM kids_own.TB_CA_C_DTL_CODE
                 WHERE com_group_cd = 'PP000013'
                   AND com_dtl_cd = it.task_se_cd) AS label
             , ei.atch_file_group_id
             , date_trunc('second', et.reg_dt) AS task_apply_reg_dt
             , date_trunc('second', et.aprv_prcs_dt) AS task_aprv_prcs_dt
             , et.aprv_stts_cd AS task_aprv_stts_code
             , (SELECT com_dtl_cd_nm
                  FROM kids_own.TB_CA_C_DTL_CODE
                 WHERE com_group_cd = 'PP000004'
                   AND com_dtl_cd = et.aprv_stts_cd) AS task_aprv_stts_label
             , et.exprt_task_sn
          FROM kids_own.TB_PP_M_INST_TASK it
             , kids_own.TB_PP_M_EXPRT_TASK et
             , kids_own.TB_PP_M_EXPRT_INFO ei
         WHERE it.tkcg_exprt_no = (SELECT MAX(exprt_no)
                                     FROM kids_own.TB_PP_M_EXPRT_INFO
                                    WHERE mbr_no = #{mbrNo}
                                      AND aprv_stts_cd = 'A')
           AND it.use_yn = 'Y'
           AND it.bzmn_task_mng_no = et.bzmn_task_mng_no
           AND et.exprt_no = ei.exprt_no
           AND ei.encpt_exprt_flnm LIKE '%' || #{searchWrd} || '%'
        <if test="aprvSttsCode != 'all'">
           AND et.aprv_stts_cd = #{aprvSttsCode}
        </if>
         ORDER BY et.exprt_task_sn DESC
    </select>

    <select id="selectExprtApproval" parameterType="ExprtApprovalPVO" resultType="ExprtApprovalRVO" >
        /* 대국민포털_전문가업무신청관리 소속 전문가 회원 상세 조회 (ExprtApprovalMapper.selectExprtApproval) */
        SELECT mi.mbr_id
             , mi.mbr_no
             , mi.encpt_mbr_flnm AS name
             , mi.encpt_mbr_telno AS telNo
             , ei.encpt_exprt_inst_eml_nm AS instEmlNm
             , date_trunc('second', et.reg_dt) AS task_apply_reg_dt
             , ei.exprt_hdof_yn
             , ei.atch_file_group_id
             , ei.aprv_stts_cd AS exprt_aprv_stts_code
             , (SELECT com_dtl_cd_nm
                FROM kids_own.TB_CA_C_DTL_CODE
                WHERE com_group_cd = 'PP000004'
                  AND com_dtl_cd = ei.aprv_stts_cd) AS exprt_aprv_stts_label
             , ei.rjct_rsn AS exprt_rjct_rsn
             , date_trunc('second', ei.aprv_prcs_dt) AS exprt_aprv_prcs_dt
             , it.task_se_cd AS value
             , (SELECT com_dtl_cd_nm
                  FROM kids_own.TB_CA_C_DTL_CODE
                 WHERE com_group_cd = 'PP000013'
                   AND com_dtl_cd = it.task_se_cd) AS label
             , et.aprv_stts_cd AS task_aprv_stts_code
             , (SELECT com_dtl_cd_nm
                FROM kids_own.TB_CA_C_DTL_CODE
                WHERE com_group_cd = 'PP000004'
                  AND com_dtl_cd = et.aprv_stts_cd) AS task_aprv_stts_label
			 , et.rjct_rsn AS task_rjct_rsn
             , date_trunc('second', et.aprv_prcs_dt) AS task_aprv_prcs_dt
             , date_trunc('second', ei.reg_dt) AS exprt_info_reg_dt
             , ei.exprt_no
        FROM kids_own.TB_PP_M_EXPRT_TASK et
                , kids_own.TB_PP_M_EXPRT_INFO ei
                , kids_own.TB_PP_M_INST_TASK it
                , kids_own.TB_PP_M_MBR_INFO mi
        WHERE et.exprt_task_sn = #{exprtTaskSn}
          AND et.exprt_no = ei.exprt_no
          AND et.bzmn_task_mng_no = it.bzmn_task_mng_no
          AND ei.mbr_no = mi.mbr_no
    </select>

    <select id="selectTaskAuthList" parameterType="String" resultType="ExprtApprovalAuthRVO" >
        /* 대국민포털_전문가업무신청관리 업무시스템 권한 목록 조회 (ExprtApprovalMapper.selectTaskAuthList) */
        SELECT authrt_cd
             , authrt_nm
          FROM kids_own.tb_pp_m_authrt
         WHERE task_se_cd = #{taskSeCd}
           AND use_yn = 'Y'
         ORDER BY reg_dt
    </select>

    <select id="selectExprtTaskAuthList" parameterType="Long" resultType="ExprtApprovalAuthRVO" >
        /* 대국민포털_전문가업무신청관리 전문가 업무시스템 권한 목록 조회 (ExprtApprovalMapper.selectExprtTaskAuthList) */
        SELECT a.authrt_cd
             , a.authrt_nm
          FROM kids_own.tb_pp_m_exprt_authrt ea
             , kids_own.tb_pp_m_authrt a
         WHERE ea.exprt_task_sn = #{exprtTaskSn}
           AND a.use_yn = 'Y'
           AND ea.authrt_cd = a.authrt_cd
         ORDER BY a.reg_dt
    </select>

    <update id="updateExprtApproval" parameterType="ExprtApprovalUVO">
        /* 대국민포털_전문가업무신청관리 소속 전문가 회원 전환 신청 승인 상태 업데이트 (ExprtApprovalMapper.updateExprtApproval) */
       UPDATE kids_own.TB_PP_M_EXPRT_INFO
          SET aprv_stts_cd = #{exprtAprvSttsCode}
            , rjct_rsn = #{exprtRjctRsn}
            , aprv_prcs_dt = CURRENT_TIMESTAMP
            , mdfr_id = #{mbrId}
            , mdfcn_dt = CURRENT_TIMESTAMP
        WHERE exprt_no = #{exprtNo}
    </update>

    <update id="updateExprtTaskApproval" parameterType="ExprtApprovalUVO">
        /* 대국민포털_전문가업무신청관리 소속 전문가 회원 업무시스템 승인 상태 업데이트 (ExprtApprovalMapper.updateExprtTaskApproval) */
       UPDATE kids_own.TB_PP_M_EXPRT_TASK
          SET aprv_stts_cd = #{taskAprvSttsCode}
            , rjct_rsn = #{taskRjctRsn}
            , aprv_prcs_dt = CURRENT_TIMESTAMP
            , mdfr_id = #{mbrId}
            , mdfcn_dt = CURRENT_TIMESTAMP
        WHERE exprt_task_sn = #{exprtTaskSn}
    </update>

    <insert id="insertExprtTaskAuth" parameterType="ExprtApprovalUVO">
        /* 대국민포털_전문가업무신청관리 전문가 업무시스템 권한 추가 (ExprtApprovalMapper.insertExprtTaskAuth) */
        INSERT INTO kids_own.tb_pp_m_exprt_authrt
        (
             mbr_no
            , exprt_task_sn
            , authrt_cd
            , rgtr_id
            , reg_dt
            , mdfr_id
            , mdfcn_dt
        )
        VALUES
        (
              #{mbrNo}
            , #{exprtTaskSn}
            , #{authrtCd}
            , #{mbrId}
            , CURRENT_TIMESTAMP
            , #{mbrId}
            , CURRENT_TIMESTAMP
        )
    </insert>

    <delete id="deleteExprtTaskAuth" parameterType="ExprtApprovalUVO">
        /* 대국민포털_전문가업무신청관리 전문가 업무시스템 권한 삭제 (ExprtApprovalMapper.deleteExprtTaskAuth) */
        DELETE FROM kids_own.tb_pp_m_exprt_authrt
        WHERE exprt_task_sn = #{exprtTaskSn}
          AND authrt_cd = #{authrtCd}
    </delete>

    <update id="collectExprtApproval" parameterType="ExprtApprovalUVO">
        /* 대국민포털_전문가업무신청관리 소속 전문가 회원 회수처리 (ExprtApprovalMapper.collectExprtApproval) */
        UPDATE kids_own.TB_PP_M_EXPRT_INFO
        SET aprv_stts_cd = 'C'
          , rjct_rsn = NULL
          , encpt_exprt_flnm = NULL
          , encpt_exprt_inst_eml_nm = NULL
          , exprt_hdof_yn = 'N'
          , mdfr_id = #{mbrId}
          , mdfcn_dt = CURRENT_TIMESTAMP
        WHERE exprt_no = #{exprtNo}
    </update>

    <update id="collectExprtTaskApproval" parameterType="ExprtApprovalUVO">
        /* 대국민포털_전문가업무신청관리 소속 전문가 회원 업무 회수처리 (ExprtApprovalMapper.collectExprtTaskApproval) */
        UPDATE kids_own.TB_PP_M_EXPRT_TASK
        SET aprv_stts_cd = 'C'
          , rjct_rsn = NULL
          , mdfr_id = #{mbrId}
          , mdfcn_dt = CURRENT_TIMESTAMP
        WHERE exprt_no = #{exprtNo}
    </update>
</mapper>