<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.kids.domain.auth.mapper.MenuMapper">

    <select id="selectMenuList" parameterType="MenuPVO" resultType="MenuRVO">
        /* MenuMapper.selectMenuList */
        WITH RECURSIVE menu_tree AS (
            SELECT
                m.menu_sn,
                m.up_menu_sn,
                1 AS dep_level,
                m.menu_sn AS root_sn,
                m.menu_nm,
                m.menu_seq,
                (m.menu_sn::text) AS path,
                m.lang_se_cd
            FROM kids_own.TB_PP_M_MENU m
            WHERE m.use_yn = 'Y'
            AND m.up_menu_sn IS NULL
            AND m.task_se_cd = 'PP'
            AND m.menu_type_cd = 'U'
            UNION ALL
            SELECT
                c.menu_sn,
                c.up_menu_sn,
                p.dep_level + 1,
                p.root_sn,
                c.menu_nm,
                c.menu_seq,
                (p.path || ' > ' || c.menu_sn::text) AS path,
                c.lang_se_cd
            FROM kids_own.TB_PP_M_MENU c
            JOIN menu_tree p
                ON c.up_menu_sn = p.menu_sn
            WHERE c.use_yn = 'Y'
            AND c.task_se_cd = 'PP'
            AND c.menu_type_cd = 'U'
        )
        SELECT
            mt.menu_sn,
            mt.up_menu_sn,
            mt.dep_level,
            mt.root_sn,
            mt.path,
            mt.menu_nm,
            mt.menu_seq,
            mt.lang_se_cd,
            d.menu_url_addr,
            d.menu_npag_nm,
            d.prvc_incl_yn,
            d.dgstfn_exmn_yn,
            d.menu_expsr_yn,
            d.dept_info_expsr_yn,
            d.pic_info_expsr_yn,
            d.mobl_aplcn_yn,
            d.lgn_yn,
            d.encpt_pic_telno,
            d.menu_kogl_cprgt_type_cd,
            d.menu_pic_id,
            coalesce(emp.emp_nm, m.pic_flnm) as menu_pic_flnm,
            emp.dept_no as menu_tkcg_dept_no,
            coalesce(emp.dept_nm, m.pic_dept_nm) as menu_tkcg_dept_nm
        FROM menu_tree mt
        LEFT JOIN kids_own.tb_pp_m_menu m
            ON mt.menu_sn = m.menu_sn
        LEFT JOIN kids_own.TB_PP_D_MENU d
            ON d.menu_sn = mt.menu_sn
        LEFT JOIN (
            SELECT 
                A.emp_no,
                A.emp_nm,
                A.dept_no,
                B.dept_nm
            FROM kids_own.tb_pp_m_emp_info A,
                 kids_own.tb_pp_m_dept_info B
            WHERE A.dept_no = B.dept_no
        ) emp
            ON d.menu_pic_id = emp.emp_no
        WHERE 1=1
        <if test="langSeCd != null and langSeCd != ''">
            AND mt.lang_se_cd = #{langSeCd}
        </if>
        <if test="menuUrlAddr != null and menuUrlAddr != ''">
            AND d.menu_url_addr = #{menuUrlAddr}
        </if>
        ORDER by mt.root_sn, mt.path, mt.menu_seq, mt.menu_sn
    </select>

    <select id="getMenu" parameterType="MenuPVO" resultType="MenuRVO" >
        /* 대국민포털_메뉴기본 조회 (MenuMapper.getMenu) */
        SELECT
             menu_sn
            ,menu_nm
            ,up_menu_sn
            ,task_se_cd
            ,menu_type_cd
            ,menu_seq
            ,menu_expln
            ,pic_dept_nm
            ,pic_flnm
            ,use_yn
            ,rgtr_id
            ,reg_dt

            ,mdfr_id
            ,mdfcn_dt

        FROM kids_own.TB_PP_M_MENU
        WHERE 1=1
        AND menu_sn = #{menuSn}
    </select>

    <insert id="insertMenu" parameterType="MenuPVO">
        /* 대국민포털_메뉴기본 입력 (MenuMapper.insertMenu) */
        INSERT INTO kids_own.TB_PP_M_MENU
        (
             menu_sn
            ,menu_nm
            ,up_menu_sn
            ,task_se_cd
            ,menu_type_cd
            ,menu_seq
            ,menu_expln
            ,pic_dept_nm
            ,pic_flnm
            ,use_yn
            ,rgtr_id
            ,reg_dt

            ,mdfr_id
            ,mdfcn_dt

        )
        VALUES
        (
             #{menuSn}
            ,#{menuNm}
            ,#{upMenuSn}
            ,#{taskSeCd}
            ,#{menuTypeCd}
            ,#{menuSeq}
            ,#{menuExpln}
            ,#{picDeptNm}
            ,#{picFlnm}
            ,#{useYn}
            ,#{rgtrId}
            ,now()

            ,#{mdfrId}
            ,now()

        )
    </insert>

    <update id="updateMenu" parameterType="MenuPVO">
        /* 대국민포털_메뉴기본 수정 (MenuMapper.updateMenu) */
        UPDATE kids_own.TB_PP_M_MENU
        SET
             menu_nm = coalesce(#{menuNm}, menu_nm)
            ,up_menu_sn = coalesce(#{upMenuSn}, up_menu_sn)
            ,task_se_cd = coalesce(#{taskSeCd}, task_se_cd)
            ,menu_type_cd = coalesce(#{menuTypeCd}, menu_type_cd)
            ,menu_seq = coalesce(#{menuSeq}, menu_seq)
            ,menu_expln = coalesce(#{menuExpln}, menu_expln)
            ,pic_dept_nm = coalesce(#{picDeptNm}, pic_dept_nm)
            ,pic_flnm = coalesce(#{picFlnm}, pic_flnm)
            ,use_yn = coalesce(#{useYn}, use_yn)
            ,mdfr_id = coalesce(#{mdfrId}, mdfr_id)
            ,mdfcn_dt = now()

        WHERE 1=1
        AND menu_sn = #{menuSn}
    </update>

    <insert id="saveMenu" parameterType="MenuPVO">
        /* 대국민포털_메뉴기본 저장 (MenuMapper.insertMenu) */
        INSERT INTO kids_own.TB_PP_M_MENU
        (
             menu_sn
            ,menu_nm
            ,up_menu_sn
            ,task_se_cd
            ,menu_type_cd
            ,menu_seq
            ,menu_expln
            ,pic_dept_nm
            ,pic_flnm
            ,use_yn
            ,rgtr_id
            ,reg_dt

            ,mdfr_id
            ,mdfcn_dt

        )
        VALUES
        (
             #{menuSn}
            ,#{menuNm}
            ,#{upMenuSn}
            ,#{taskSeCd}
            ,#{menuTypeCd}
            ,#{menuSeq}
            ,#{menuExpln}
            ,#{picDeptNm}
            ,#{picFlnm}
            ,#{useYn}
            ,#{rgtrId}
            ,now()

            ,#{mdfrId}
            ,now()

        )
        ON CONFLICT(menu_sn)
        DO UPDATE SET
             menu_nm = coalesce(excluded.menu_nm, kids_own.TB_PP_M_MENU.menu_nm)
            ,up_menu_sn = coalesce(excluded.up_menu_sn, kids_own.TB_PP_M_MENU.up_menu_sn)
            ,task_se_cd = coalesce(excluded.task_se_cd, kids_own.TB_PP_M_MENU.task_se_cd)
            ,menu_type_cd = coalesce(excluded.menu_type_cd, kids_own.TB_PP_M_MENU.menu_type_cd)
            ,menu_seq = coalesce(excluded.menu_seq, kids_own.TB_PP_M_MENU.menu_seq)
            ,menu_expln = coalesce(excluded.menu_expln, kids_own.TB_PP_M_MENU.menu_expln)
            ,pic_dept_nm = coalesce(excluded.pic_dept_nm, kids_own.TB_PP_M_MENU.pic_dept_nm)
            ,pic_flnm = coalesce(excluded.pic_flnm, kids_own.TB_PP_M_MENU.pic_flnm)
            ,use_yn = coalesce(excluded.use_yn, kids_own.TB_PP_M_MENU.use_yn)
            ,mdfr_id = coalesce(excluded.mdfr_id, kids_own.TB_PP_M_MENU.mdfr_id)
            ,mdfcn_dt = now()

    </insert>

    <delete id="deleteMenu" parameterType="MenuDVO">
        /* 대국민포털_메뉴기본 삭제 (MenuMapper.deleteMenu) */
        DELETE FROM kids_own.TB_PP_M_MENU
        WHERE 1=1
        AND menu_sn = #{menuSn}
    </delete>

</mapper>