<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>iNUSQUARE app - email Form</title>
    <meta name="description" content="iNUSQUARE app by Randatasys">
</head>
<body>
    <!-- email Capsule -->
    <table style="width: 100%; max-width: 800px; font-family: NotoSans, Roboto-Regular,Helvetica,Arial,sans-serif; color: #555; font-size: 1rem;padding: 5rem; margin-bottom: 3rem; background-color: #BDBDBD;">
        <tr>
            <td style="background-color: #fff; background-clip: border-box; border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.75rem;">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="padding-top: 20px; padding-left: 20px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img width="162" height="32" th:attr="src=@{${logoBase64Str}}" style="display: block; width: 162px; height: 32px;" />
                                            </td>
                                            <td align="right">
                                             
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr height="16"></tr>
                        <tr>
                            <td style="text-align: center !important;">
                                <table bgcolor="#9E1B3D" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 100%; max-width: 800px; border: 1px solid #E0E0E0; border-bottom: 0; border-top-left-radius: 3px; border-top-right-radius: 3px;">
                                    <tbody>
                                        <tr>
                                            <td height="30px" colspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td width="32px"></td>
                                            <td style="font-family: NotoSans, Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 24px; color: #FFFFFF; line-height: 1.25;">Inusquare Verification Codes</td>
                                            <td width="32px"></td>
                                        </tr>
                                        <tr>
                                            <td height="30px" colspan="3"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width: 100%; max-width: 800px; border: 1px solid #F0F0F0; border-bottom: 1px solid #C0C0C0; border-top: 0; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px;">
                                    <tbody>
                                        <tr height="16px">
                                            <td width="32px" rowspan="3"></td>
                                            <td></td>
                                            <td width="32px" rowspan="3"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Dear Inusquare user,</p>
                                                <p>Access to your Inusquare account has been requested through your email address. Inusquare verification codes are as follows:</p>
                                                <div style="text-align: center; padding-top: 15px; padding-bottom: 15px;">
                                                    <p dir="ltr">
                                                        <strong th:text="${authNum}" style="text-align: center; color: #9E1B3D; font-size: 2rem; font-weight: bold;"></strong>
                                                    </p>
                                                </div>
                                                <p>If you haven't asked for a password reset, someone else might be trying to access your inusquare account. </br><strong>You should not pass or give this code to anyone.</strong>
                                                </p>
                                                <p>Thank you.</p>
                                                <p>Inusquare Account Team</p>
                                            </td>
                                        </tr>
                                        <tr height="32px"></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr height="16"></tr>
                        <tr>
                            <td style="text-align: center !important; max-width: 600px; font-family: NotoSans, Roboto-Regular,Helvetica,Arial,sans-serif; font-size: 10px; color: #BCBCBC; line-height: 1.5; padding-bottom: 20px;">
                                <div>This email is for outgoing use only. For more information <a href="https://support.inusquare.com/" style="text-decoration: none; color: #9E1B3D;" rel="noopener noreferrer" target="_blank">Inusquare Account Help Center</a> You can check it in. <br>© Inusquare Inc. 
                                        
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <!-- * email Capsule -->
</body>

</html>