<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- fmk_iot_comm_file 테이블 MAPPER -->
<mapper namespace="kr.go.kids.domain.pp.file.mapper.FileMapper">


    <!-- 파일 기본 목록 조회 -->
    <select id="list" resultType="FileDataResVO">
        SELECT
            a.atch_file_dtl_sn
             , a.atch_file_group_sn
             , a.file_seq
             , a.file_strg_path_dsctn
             , a.strg_file_nm
             , a.file_nm
             , a.file_extn_nm
             , a.file_cn
             , a.file_sz
             , a.crt_dt
             , a.use_yn
             , a.reg_dt
             , TO_CHAR(a.reg_dt, 'YYYY-MM-DD HH24:MI:SS')
             , a.rgtr_id
             , TO_CHAR(a.mdfcn_dt, 'YYYY-MM-DD HH24:MI:SS')
             , a.mdfr_id
        FROM "TB_CA_E_FILE_TRSM" a
        WHERE 1=1
        ORDER BY a.atch_file_dtl_sn DESC
    </select>

    <!-- 파일 정보 단건 조회 -->
    <select id="data" parameterType="FileDataReqVO" resultType="FileDataResVO">
        SELECT
          a.atch_file_dtl_sn
        , a.atch_file_group_sn
        , a.file_seq
        , a.file_strg_path_dsctn
        , a.strg_file_nm
        , a.file_nm
        , a.file_extn_nm
        , a.file_cn
        , a.file_sz
        , a.crt_dt
        , a.use_yn
        , a.reg_dt
        , TO_CHAR(a.reg_dt, 'YYYY-MM-DD HH24:MI:SS')
        , a.rgtr_id
        , TO_CHAR(a.mdfcn_dt, 'YYYY-MM-DD HH24:MI:SS')
        , a.mdfr_id
        FROM "TB_CA_E_FILE_TRSM" a
        WHERE 1=1
        <if test="atchFileDtlSn != null and atchFileDtlSn != ''">
            AND a.atch_file_dtl_sn = #{atchFileDtlSn}
        </if>
        <if test="strgFileNm != null and strgFileNm != ''">
            AND a.strg_file_nm = #{strgFileNm}
        </if>

    </select>

    <!-- 다음 파일 일련번호 -->
    <select id="nextFileId" resultType="long">
        SELECT nextval('tb_ca_e_file_trsm_seq')
    </select>

    <!-- 파일정보 등록 -->
    <insert id="insert" parameterType="FileInsertReqVO">
        INSERT INTO "TB_CA_E_FILE_TRSM" (
                                          atch_file_dtl_sn
                                        , atch_file_group_sn
                                        , file_seq
                                        , file_strg_path_dsctn
                                        , strg_file_nm
                                        , file_nm
                                        , file_extn_nm
                                        , file_cn
                                        , file_sz
                                        , crt_dt
                                        , use_yn
                                        , reg_dt
                                        , rgtr_id
                                        , mdfcn_dt
                                        , mdfr_id
                                ) VALUES (
                                           #{atchFileDtlSn}
                                         , #{atchFileGroupSn}
                                         , #{fileSeq}
                                         , #{fileStrgPathDsctn}
                                         , #{strgFileNm}
                                         , #{fileNm}
                                         , #{fileExtnNm}
                                         , #{fileCn}
                                         , #{fileSz}
                                         , #{crtDt}
                                         , #{useYn}
                                         , NOW()
                                         , #{rgtrId}
                                         , NOW()
                                         , #{mdfrId}
                                         )
    </insert>


    <!-- 다음 파일 그룹 일련번호 -->
    <select id="nextFileGroupId" resultType="long">
        SELECT nextval('tb_ca_e_file_group_trsm_seq')
    </select>

    <!-- 파일 그룹 정보 등록 -->
    <insert id="groupInsert" parameterType="FileGroupInsertReq">
        INSERT INTO "TB_CA_E_FILE_GROUP_TRSM" (
                                                atch_file_group_sn
                                              , task_se_cd
                                              , task_se_trgt_id
                                              , use_yn
                                              , reg_dt
                                              , rgtr_id
                                              , mdfcn_dt
                                              , mdfr_id
                                    ) VALUES (
                                               #{atchFileGroupSn}
                                             , #{taskSeCd}
                                             , #{taskSeTrgtId}
                                             , #{useYn}
                                             , NOW()
                                             , #{rgtrId}
                                             , NOW()
                                             , #{mdfrId}
                                             )
    </insert>

    <!-- 파일 정보 단건 수정 -->
    <update id="update" parameterType="FileUpdateReqVO">
        UPDATE drugsafe_files
        SET
            file_nm       = COALESCE(#{fileNm}     , file_nm)
          , file_enc_nm   = COALESCE(#{fileEncNm}  , file_enc_nm)
          , file_path     = COALESCE(#{filePath}   , file_path)
          , download_cnt  = COALESCE(#{downloadCnt}, download_cnt)
          , file_content  = COALESCE(#{fileContent}, file_content)
          , file_size     = COALESCE(#{fileSize}   , file_size)
          , file_type     = COALESCE(#{fileType}   , file_type)
          , img_width     = COALESCE(#{imgWidth}   , img_width)
          , img_height    = COALESCE(#{imgHeight}  , img_height)
          , del_yn        = COALESCE(#{delYn}      , del_yn)
          , up_datetime   = NOW()
        WHERE 1=1
          AND del_yn  = 'N'
          AND file_id = #{fileId}
    </update>

    <!-- 파일 정보 단건 삭제 -->
    <update id="delete" parameterType="FileDeleteReqVO">
        UPDATE drugsafe_files
        SET
            del_yn      = 'Y'
          , up_datetime = NOW()
        WHERE 1=1
          AND del_yn  = 'N'
          AND file_id = #{fileId}
    </update>


</mapper>
